/* Create effects when click mouse on menu*/
nav {
	width: 589px;
	margin: 30px auto 23px 36px;
	float: left;
	text-align: center;
	display: inline-block;
}
nav li {
	float:left;
	padding: 14px 18px 13px 20px;
	list-style-type: none;
	position: relative;
	border: 2px solid transparent;
}
nav li a {
	text-align: right;  
	display: block;
	position: relative;
	font-family: Open Sans;
	font-size: 14px;
	text-decoration: none;
	color: #6a6867;
}
nav li a:hover {
	font-size: 14px;
	font-family: Open Sans;
	color: #308eb4;
}

/*Create box of menu*/
.speech-bubble:hover {/*create a rectangular boder*/
    position: relative;		
    border-radius: 5px;
    color: white;
    text-align: center;
    border: 2px solid #54add7;

}
.speech-bubble:hover:after, .speech-bubble:hover:before {
	width: 0;
	height: 0;
	bottom: 100%;
	top: 100%;
	left: 50%;
	content: '';
	position: absolute;
}

.speech-bubble:hover:after {/*Create a triangular under rectangular border*/
	margin-left: -10px;
	border: 10px solid transparent;
	border-top-color: #54add7;
		
}
.speech-bubble:hover:before {/*Create a triangular have white color, small than blue triangular and pile blue triangular*/
  	margin-left: -7px;	
  	z-index: 1;		 		
	border: 6px solid transparent;
	border-left:6px solid transparent;
  	border-right:6px solid transparent;
  	border-top-color: #FFF;	
}/*END menu*/
